*{
    box-sizing: border-box;
}

body{
    font-size: 0;
    margin: 0;
    background-color:rgb(25, 25, 112);
}
div{
    font-size: 16px;
}
h1{
    background-color: #0A1A2F;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 40px ;
    color: #A9B3C1;
    text-align: center;
    text-shadow: 3px 2px 3px white;
    text-decoration: underline;
    text-decoration-color: #A9B3C1;
}
.header{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: aqua ;
    text-shadow: 1px 1px#A9B3C1;
    background-color:rgb(172, 170, 170) ;
    color: azure;
    margin: 0;
    padding: 10px;
    min-height: 75px;
}
.Card-container{
    border: 3px ridge black;
    width: calc(33.33% - 6px);
    display: inline-block;
    min-height: 200px;
    margin: 3px;
}
.card-body{
    background-color:rgb(221, 211, 211);
    color: black;
    font-size: 20px;
    padding: 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: left;
    min-height: 300px;
}
.card-footer{
    background-color: grey;
    color: rgb(3, 3, 106);
    padding: 5px;
    font-size: larger;
    text-align: center;
}
.galleria{
    background-color: #5b92db;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 18px ;
    color: #393e44;
    text-align: left;
    margin: 25px;
    padding: 25px;
    color: #191970;
}
.foto{
    list-style-image: url(../../assets/img/icons8-planets-20.png) ;
    display: inline-block;
    margin: 25px;
}
.introduzione{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 16px;
    color:black;
    text-align: left;
    display: inline-block;
    max-width: 49.5%;
    vertical-align: top;
    border:2px solid black;
    min-height: 480px;
    margin: 3px;
    padding: 0;
}
.informazioni{
    
    font-family: Arial, Helvetica, sans-serif;
    font-style:inherit;
    font-size: 20px;
    text-decoration-line: underline;
    display: block;
    padding: 15px;
}
.body-introduzione{
    padding: 5px;
    margin: 5px;
}
h2{
    margin: 7px;
}
.elementi{
    line-height: 1.7;
}
.intro{
    font-size: larger;
}
